services:
  birthday-bot:
    container_name: birthday_bot
    build: .
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - ./images:/app/images
    environment:
      TOKEN: "${TOKEN}"



